<div class="d-flex justify-content-start mb-4">
    <a
            href="{{ backRoute }}"
            data-toggle="tooltip"
            data-placement="left"
            title="{{ tooltipMessage }}">
        <img src="{{ asset('default/image/back_arrow.svg') }}"
             alt="go back"
             width="50"
             height="50"
             class="d-inline-block align-text-top">
    </a>
</div>