<a class="btn nav-link" id="menu-toggle">
    <img src="{{ asset('default/image/toggle_menu.png') }}"
         alt="toggle menu"
         width="30"
         height="30"
         class="d-inline-block align-text-top">
</a>
